<%- include('partials/header') -%>

<div class="compose-blog">
  <h1>Compose</h1>
  <form action="/compose" method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" id="title" name="postTitle" class="form-control">
    </div>
    <div class="form-group">
      <label for="post"> Post </label>
      <textarea id="post" name="postBody" class="form-control" rows="8"></textarea>
    </div>
    <button class="compose-submit-btn" type="submit" name="button">Publish</button>
  </form>
</div>

<%- include('partials/footer') -%>
